@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-background-color: #1e293b;
    --display-color: rgb(214 211 209);
    --secondary-color: white;
    --button-color: black;
    --button-background-color: #f87171;
    --number-button-color: white;
    --operator-button-color: #f87171;
}

.light-theme{
    --primary-background-color: rgb(249, 242, 242);
    --number-button-color: black;
    --button-color: white;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} 

body {
    background-color: var(--primary-background-color);
    min-height: 100vh;
}
 .container {
    height: 100%;
    display: grid;
    border: none;
}

.icon-container {
    display: grid;
    justify-items: end;
}
#icon {
    width: 10%;
    margin: 15px 10px 10px 0px;
}

.display-result {
    background-color: var(--display-color);
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 30vh;
}

.calculation-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr );
    grid-gap: 10px;
    margin: 0px 10px;
}

button {
    background-color: var(--button-color);
    color: var(--number-button-color);
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    height: 10vh;
}

#clear,
#equal {
    background-color: var(--button-background-color);
    color: var(--button-color);
}

#delete,
#divide,
#multiply,
#minus,
#plus,
#dot{
    color: var(--button-background-color);
}

#equal {
    grid-column: 2 / 5;
}

footer {
    background-color: var(--button-color);
    border: none;
    color: var(--number-button-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 15px;
    padding: 20px;
}  

/* Laptop */
@media screen and (min-width: 768px) {
    html,
    body {
        height: 0%;
        margin: 0;
        padding: 0;
} 

    body {
        background-color: rgb(156 163 175);
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .container {
        background-color: var(--primary-background-color);
        height: 90%;
        width: 50vw;
        margin-top: 40px;
        display: grid;
        border: none;
        overflow: scroll;
    }
    #icon {
        margin-bottom: 0px;
    }
    .display-result {
        margin: 5px;
    }
    button:hover {
        background-color: var(--primary-background-color);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        height: 100%;
        overflow: none;
    }
}